extends layout
block content
 ul 
  li
  a(href="index") Nuova unità
  li
  a(href="/listaunita") Lista unità
  each a in unita
    h1
        a(href = `/unit/${a.Unit}`) #{a.Unit}
            br
            img(src = `images/${a.Unit}.png`)
    